{{ define "main" }}
<main class="menu-list">
  {{ range .Pages }}
  {{ $bg := .Params.icon_bg | default "#eeeeee" }}
  {{ $color := .Params.icon_color | default "#333333" }}
  <a href="{{ .RelPermalink }}" class="menu-item">
    <span class="menu-icon" style="background:{{ $bg }};color:{{ $color }};">
      <i class="fas {{ .Params.icon | default "fa-file" }}"></i>
    </span>
    <span class="menu-label">{{ .Title }}</span>
    <i class="fas fa-chevron-right menu-arrow"></i>
  </a>
  {{ end }}
</main>
{{ end }}
